// Material Admin v1.0
// Developed by iGet Digital - www.iget.com.br
// MIT License
// Release Date: 06/04/2015

.alert {
  	padding: 15px 25px;
	border-radius: 0;
  &.close {
		font-size: 1.8rem;
  	}
}

#collection-wrapper {
	.items {
		.alert {
		  	margin-bottom: 0;
		}
	}
}