// Material Admin v1.0
// Developed by iGet Digital - www.iget.com.br
// MIT License
// Release Date: 06/04/2015

.card .setting-group .panel-default {
    >.panel-heading {
        padding: 10px 15px;
        color: @md-black;
        font-weight: @medium-font-weight;
        a {
            float: right;
            color: @md-grey-400;
            &:hover {
                color: @md-black;
            }
        }
    }
    .list-group {
        .list-group-item {
            &.editable {
                cursor: pointer;
                color: @md-black;
                &.delete-only {
                    cursor: default;
                }
                &:hover {
                    background-color: @md-grey-50;
                }
                a {
                    float: right;
                    color: @md-grey-400;
                    &:hover {
                        color: @md-black;
                    }
                }
            }
        }
    }
}