#settings-groups {
	.settings-group {
		.group-title {
			border-bottom: 1px solid @md-grey-200;
			padding: 10px 15px;
			i {
				padding-right: 5px;
				font-size: 24px;
				line-height: 24px;
				vertical-align: top;
			}
			span {
				font-weight: 100;
				font-size: 24px;
				line-height: 24px;
				vertical-align: top;
			}
			p.help {
				font-weight: 100;
				margin: 5px 0 0;
			}
		}

		.settings-item {
			padding: 10px 15px;
			.title {
				font-weight: 100;
				font-size: 20px
			}

			.content {
				a.create {
					float: right;
					margin-right: 7px;
					text-decoration: none;
					color: @primary-500;
					&:hover {
						color: @primary-700;
					}
				}

				font-weight: 100;
				
				table {
					width: 100%;
					font-size: 16px;
					tbody {
						border-top: 1px solid @md-grey-200;
						tr {
							cursor: pointer;
							border-bottom: 1px solid @md-grey-200;
							td {
								padding: 0 10px;
								&.actions {
									a {
										padding: 2px;
										-webkit-transition: color 200ms ease-in-out;
										-moz-transition: color 200ms ease-in-out;
										-ms-transition: color 200ms ease-in-out;
										-o-transition: color 200ms ease-in-out;
										transition: color 200ms ease-in-out;
										margin-left: 5px;
										float: right;
										color: @md-grey-500;
									}
								}
							}
							&:hover {
								background-color: @md-grey-100;
								td.actions {
									a {
										&.delete {
											color: @md-red-700;
										}
										&.edit {
											color: @md-blue-700;
										}
									}
								}
							}
						}
					}
				}

				ul {
					padding: 0;
					border-top: 1px solid @md-grey-200;
					list-style: none;
					margin-top: 10px;
					li {
						cursor: pointer;
						font-size: 16px;
						padding: 0 10px;
						border-bottom: 1px solid @md-grey-200;
						.name {
							display: inline-block;
							margin: 2px 0;
						}
						a {
							padding: 2px;
							-webkit-transition: color 200ms ease-in-out;
							-moz-transition: color 200ms ease-in-out;
							-ms-transition: color 200ms ease-in-out;
							-o-transition: color 200ms ease-in-out;
							transition: color 200ms ease-in-out;
							margin-left: 5px;
							float: right;
							color: @md-grey-500;
						}
						&:hover {
							a {
								&.delete {
									color: @md-red-700;
								}
								&.edit {
									color: @md-blue-700;
								}
							}
						}

						&:hover {
							background-color: @md-grey-100;
						}
					}
				}
			}
		}
		
	}
}