.ink {
  display: block;
  position: absolute;
  background: #b8e0e0;
  border-radius: 100%;
  transform: scale(0);
}
.ink.animate {
  animation: ripple 0.65s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
