div.paper {
  padding: 0;
  background-color: white;
  box-shadow: 0 5px 10px -5px #999999;
}
.btn {
  border-radius: 0;
}
.btn.btn-transparent {
  border: none;
  background: none;
  color: #FFF;
  opacity: 0.9;
  box-shadow: none;
  padding: 0;
}
.btn.btn-transparent i {
  height: 43px;
  width: 43px;
  line-height: 43px;
  border-radius: 50%;
}
.btn.btn-transparent:hover {
  opacity: 1;
}
.btn.btn-transparent:focus {
  outline: none;
}
.btn.btn-transparent:focus i {
  background: rgba(0, 0, 0, 0.1);
}
.btn.btn-transparent:active i {
  background: rgba(0, 0, 0, 0.3);
}
.btn.btn-round {
  border-radius: 50%;
}
/* Material Design Color Palette */
body {
  background-color: #f0f0f0;
  font-family: Roboto, Helvetica Neue;
}
#content {
  margin-top: 59px;
}
#content .content-wrapper {
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 10px -5px #999999;
  padding: 20px;
}
#content .table-wrapper {
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 10px -5px #999999;
}
#content .table-wrapper table thead tr > th {
  padding: 12px 5px;
  border-bottom: 1px solid #ddd;
}
#content .table-wrapper table thead tr > th:first-child {
  padding: 12px 20px;
}
#content .table-wrapper table tbody tr {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#content .table-wrapper table tbody tr > td {
  padding: 8px 5px;
}
#content .table-wrapper table tbody tr > td:first-child {
  padding: 8px 20px;
  width: 53px;
}
#content .table-wrapper table tbody tr > td:last-child {
  width: 10%;
}
#content .table-wrapper table tbody tr:hover {
  background-color: #F5F5F5;
}
#content .table-wrapper table tbody tr:hover td.actions a {
  opacity: 1;
}
#content .table-wrapper table tbody tr td.actions a {
  opacity: 0;
}
#content-toolbar {
  position: fixed;
  top: 59px;
  right: 0;
  margin: 30px 20px 0 0;
  z-index: 99;
}
#content-toolbar .btn {
  display: block;
  margin-bottom: 15px;
  padding: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  font-size: 20px;
  box-shadow: 0 5px 10px -3px #999999;
}
#content-toolbar .btn:active {
  box-shadow: 0 5px 10px -5px #999999;
}
#content-toolbar .btn:focus {
  outline: none;
}
#content-toolbar .btn.btn-sm {
  margin-left: 7px;
  height: 36px;
  width: 36px;
  font-size: 15px;
}
#content-toolbar .btn.btn-sm i {
  line-height: 36px;
}
#content-toolbar .btn.primary {
  background-color: #03a9f4;
  color: white;
}
#content-toolbar .btn.danger {
  background-color: #f44336;
  color: white;
}
#content-toolbar .btn.warning {
  background-color: #ffc107;
  color: white;
}
#content-toolbar .btn i {
  line-height: 50px;
}
#content-toolbar .btn-bulk {
  display: none;
}
#content-toolbar.show-bulk .btn-bulk {
  display: block;
}
#header {
  background-color: #2196f3;
  color: #FFF;
  height: 59px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px -4px 10px 7px #999999;
  padding: 8px 20px;
}
#header div {
  float: left;
}
#header div.title {
  font-weight: 300;
  font-size: 24px;
  padding-left: 10px;
}
#header div.toolbar {
  float: right;
}
#header span {
  line-height: 43px;
}
#header div.user-dropdown {
  display: none;
  color: black;
  position: fixed;
  right: 25px;
  top: 52px;
  padding: 10px;
  min-width: 200px;
  background: white;
  box-shadow: 0px 3px 10px 0px #999;
}
#header div.user-dropdown div.arrow-up {
  position: absolute;
  top: -7px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid white;
}
#header div.user-dropdown span {
  line-height: initial;
  display: block;
}
#header div.user-dropdown span.name {
  font-weight: bold;
}
#header div.user-dropdown span.email {
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 5px;
}
#header div.user-dropdown.open {
  display: block;
}
#menu {
  position: fixed;
  top: 59px;
  left: 0;
  background-color: white;
  width: 220px;
  height: 100%;
  z-index: 99;
  transition: margin-left 0.2s;
  box-shadow: none;
  margin-left: -250px;
  padding: 15px 0;
}
#menu.open {
  margin-left: 0;
  box-shadow: -4px 0px 10px 7px #999999;
}
#menu li {
  cursor: pointer;
  list-style-type: none;
  width: 100%;
  font-weight: normal;
}
#menu li a {
  display: inline-block;
  padding: 8px 0 8px 20px;
  width: 100%;
  text-decoration: none;
  color: #000;
  opacity: 0.87;
}
#menu li i {
  font-size: 25px;
  color: #000;
  opacity: 0.54;
  padding: 0 10px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}
#menu li:hover i {
  opacity: 0.87;
}
#menu li:hover {
  background-color: #EEE;
}
.form-control {
  border-radius: 2px;
}
#login-container {
  padding: 30px;
  margin-top: 50px;
}
#error-container {
  margin-top: 50px;
}
#error-container div.header {
  width: 100%;
  padding: 15px 30px;
  border-bottom: 1px solid #f5f5f5;
}
#error-container div.header h1 {
  margin: 0;
}
#error-container div.body {
  padding: 15px 30px;
  width: 100%;
}
#error-container div.body p.title {
  font-weight: 600;
}
#error-container div.body p.description {
  padding-top: 10px;
  text-align: justify;
}
div.calendar {
  background-color: #536dfe;
  display: inline-block;
  color: white;
  padding: 5px;
  cursor: default;
}
div.calendar p.month {
  opacity: 1;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}
div.calendar ul {
  display: block;
  margin: 0;
}
div.calendar ul.weekdays {
  list-style: none;
  padding: 0;
}
div.calendar ul.weekdays li {
  opacity: 1;
  font-size: 10px;
  font-weight: 100;
  line-height: 30px;
  text-align: center;
  width: 30px;
  display: inline-block;
}
div.calendar ul.week {
  list-style: none;
  padding: 0;
}
div.calendar ul.week li {
  opacity: 0.7;
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
  text-align: center;
  width: 30px;
  display: inline-block;
  cursor: pointer;
}
div.calendar ul.week li:hover {
  opacity: 1;
}
div.calendar ul.week li.danger {
  background-color: #d32f2f;
  border-radius: 50%;
  padding-right: 1px;
  line-height: 26px;
  width: 26px;
  margin: 2px;
}
div.calendar ul.week li.success {
  background-color: #388e3c;
  border-radius: 50%;
  padding-right: 1px;
  line-height: 26px;
  width: 26px;
  margin: 2px;
}
div.calendar ul.week li.disabled {
  opacity: 0.3;
  cursor: default;
}
div.alert {
  border-radius: 1px;
}
div.alert.alert-danger,
div.alert.alert-success {
  border-color: transparent;
  box-shadow: 0 5px 10px -5px #999999;
}
div.alert button.close {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
div.alert:hover button.close {
  opacity: 0.5;
}
div.alert:hover button.close:hover {
  opacity: 0.7;
}
#settings-groups .settings-group {
  padding: 10px 15px;
}
#settings-groups .settings-group .group-title {
  border-bottom: 1px solid #f5f5f5;
}
#settings-groups .settings-group .group-title i {
  padding-right: 5px;
  font-size: 24px;
  line-height: 24px;
  vertical-align: top;
}
#settings-groups .settings-group .group-title span {
  font-weight: 100;
  font-size: 24px;
  line-height: 24px;
  vertical-align: top;
}
#settings-groups .settings-group .settings-item {
  padding: 10px 15px;
}
