#login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    #login-card {
        padding: 50px 40px;
        background-color: #ffffff;
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
        width: 350px;
    }
}