// Material Admin v1.0
// Developed by iGet Digital - www.iget.com.br
// MIT License
// Release Date: 06/04/2015

.card .panel-default {
    .list-group {
        .list-group-item {
            color: @md-black;

            a {
                float: right;
                color: @md-grey-400;
                &:hover {
                    color: @md-black;
                }
            }

            &.delete-only {
                cursor: default;
            }

            &.editable {
                cursor: pointer;

                &:hover {
                    background-color: @md-grey-50;
                }
            }
        }
    }
}